* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
}
.navbar {
    background: #0CA4EF
}

.navbar-nav a {
    color: #ffffff;
}
.btn-colorSc{
    color: #ffffff;
}
.btn-bg-white{
    background-color: #ffffff;
}
.btn-bg-white:hover{
    background-color: #ffffff;
    color:#0CA4EF
}
.btn-colorBlue{
    color:#0CA4EF
}
.header-info{
    background-color: #ffffff;
}
.foother {
    background-color: #212121;
    color: #ffffff;
}
.foother-info{
    margin-top: 36px;
}
.foother-info-contact-lis ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.foother-info-address-list{
    width: 200px;
}